html, body {
	font-family: sans-serif;
	height: 100%;
	background-color: #333;
}

body {
	margin: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}


section {
display: flex;
flex-direction: column;
}

#theme {
	width: 2rem;
}

.theme {
	color: #eee;
	margin: 0 auto;
}


